<span class="sort-by-label">Sort by</span>

<div ngbDropdown class="d-inline-block">
  <button ngbDropdownToggle class="btn btn-outline-primary dropdown-toggle">
    <div [ngSwitch]="sortingType.getValue()">
      <div *ngSwitchCase="'top'"><div class="icon"><i class="fas fa-sort-amount-up"></i></div>Top</div>
      <div *ngSwitchCase="'new'"><div class="icon"><i class="fas fa-certificate"></i></div>New</div>
    </div>
  </button>

  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
    <button (click)="sortBy('top')" class="dropdown-item">
      <div class="icon"><i class="fas fa-sort-amount-up"></i></div>Top
    </button>

    <button (click)="sortBy('new')" class="dropdown-item">
      <div class="icon"><i class="fas fa-certificate"></i></div>New
    </button>
  </div>
</div>
