<div routerLink="r/Terraria" (click)="selectPost(post)" class="post d-flex">

  <div class="left">
    <app-post-voter [post]="post"></app-post-voter>
  </div>

  <div class="right d-flex flex-column">

    <div class="origin d-flex align-items-center">
      <img class="subjeddit-logo" src="/assets/img/terraria-subjeddit-logo.png">
      <div class="subjeddit-name">r/{{ post.subjeddit.name }}</div>
      <div class="posted-by">Posted by <a href="">u/{{ post.poster.username }}</a> {{ post.time }}</div>
    </div>

    <p class="title">{{ post.title }}</p>
    <div class="content">{{ post.text }}</div>

    <div class="interactions d-flex">
      <button ngbButton class="btn btn-light" href=""><i class="fas fa-comment-alt"></i>{{ post.comments }} Comments</button>
      <button ngbButton class="btn btn-light" href=""><i class="fas fa-share"></i>Share</button>
      <button ngbButton class="btn btn-light" href=""><i class="fas fa-bookmark"></i>Save</button>
    </div>

  </div>

</div>
