.post {
  display: block;
  width: 650px;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: border-color 0.1s;
  transition: box-shadow 0.1s;

  cursor: pointer;
  overflow: hidden;

  margin-bottom: 15px;

  box-shadow: 0px 2px 2px 0px darkgray;

  &:hover {
    box-shadow: 0px 4px 8px 0px darkgray;
  }
}

.left {
  //background-color: #f7f9faff;
  background-color: #ffffffCC;
  width: 50px;

  padding: 10px;
  padding-top: 0;
}

.right {
  width: 100%;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 2px 2px 0px darkgray;

  .origin {
    margin-bottom: 10px;

    .subjeddit-info {
      display: inline-flex;
      margin-right: 10px;

      .subjeddit-logo {
        $scale: 20px;

        width: $scale;
        height: $scale;
        background-color: rgb(0, 121, 211);
        border: 1px solid black;
        border-radius: 100%;

        margin-right: 5px;
      }

      .subjeddit-name {
        color: black;
        font-size: 0.8em;
        font-weight: bold;
      }
    }

    .posted-by {
      font-size: 0.8em;
      color: gray;
    }
  }

  .title {
    font-size: 1.2em;
    font-weight: bold;
  }

  .interactions {
    //z-index: 5;
    margin-top: 10px;

    button {
      color: rgb(135, 138, 140);
      font-size: 0.8em;
      font-weight: bold;
      padding: 2px;

      padding-left: 5px;
      padding-right: 5px;
      margin-right: 5px;
      //height: 25px;
    }

    [class*="fa fa-"] {
      margin-right: 5px;
    }
  }
}
