<div class="panel">
  <div class="title">Trending Communities</div>
  <div>
    <div *ngFor="let i of [1, 2, 3, 4, 5]" class="d-flex align-items-center list-item">
      <img class="subjeddit-logo" src="../../../../../assets/placeholder-subjeddit-logo.svg">
      <div class="subjeddit-info">
        <div class="subjeddit-name">r/Terraria</div>
        <div class="subjeddit-subscribers">682,220 subscribers</div>
      </div>
      <button ngbButton class="btn btn-primary align-self-end">Subscribe</button>
    </div>
  </div>
</div>
