.root, .article {
  //height: calc(100% - 30px);
  //min-height: calc(100% - 30px);
}

.root {
  background-color: white;
}

.article {
  display: block;
  width: 890px;

  margin-top: 15px;
}

.left {
  width: 50px;

  padding: 10px;
  padding-top: 0;

  .fa-caret-up, .fa-caret-down {
    font-size: 2em;
    color: #878a8c;
  }

  .fa-caret-up {
    margin-bottom: -5px;
  }

  .fa-caret-down{
    margin-top: -5px;
  }

  .points {
    font-size: 0.8em;
    font-weight: bold;
  }
}

.right {
  padding: 10px;

  .origin {
    margin-bottom: 10px;

    .subjeddit-logo {
      $scale: 20px;

      width: $scale;
      height: $scale;
      background-color: rgb(0, 121, 211);
      border: 1px solid black;
      border-radius: 100%;

      margin-right: 5px;
    }

    .subjeddit-name {
      font-size: 0.8em;
      font-weight: bold;
    }

    .posted-by {
      font-size: 0.8em;
      color: gray;

      margin-left: 10px;
    }
  }

  .title {
    font-size: 1.2em;
    font-weight: bold;
  }

  .interactions {
    margin-top: 10px;

    button, .comments {
      color: rgb(135, 138, 140);
      font-size: 0.8em;
      font-weight: bold;
      padding: 2px;

      padding-left: 5px;
      padding-right: 5px;
      margin-right: 5px;
      //height: 25px;
    }

    [class*="fa fa-"] {
      margin-right: 5px;
    }
  }
}

#comments {
  display: block;
  margin-left: 15px;
}
