<div class="root">
  <div class="article">
    <div class="publication d-flex">

      <div class="left">
        <app-post-voter [post]="this.postService.selectedPost"></app-post-voter>
      </div>

      <div class="right d-flex flex-column">
        <div class="origin d-flex align-items-center">
          <img routerLink="/j/{{ postService.selectedPost.subjeddit.name }}" class="subjeddit-logo" src="/assets/img/terraria-subjeddit-logo.png">
          <a routerLink="/j/{{ postService.selectedPost.subjeddit.name }}" class="subjeddit-name">r/{{ postService.selectedPost.subjeddit.name }}</a>
          <div class="posted-by">Posted by <a href="">u/{{ postService.selectedPost.poster.username }}</a> {{ postService.selectedPost.created_at | relativeTime }}</div>
        </div>

        <p class="title">{{ postService.selectedPost.title }}</p>
        <div class="content">{{ postService.selectedPost.text }}</div>

        <div class="interactions d-flex">
          <div class="comments"><i class="fas fa-comment-alt"></i>{{ postService.selectedPost.comments }} Comments</div>
          <button ngbButton class="btn btn-light" href=""><i class="fas fa-share"></i>Share</button>
          <button ngbButton class="btn btn-light" href=""><i class="fas fa-bookmark"></i>Save</button>
        </div>

        <div class="editor-wrapper">
          <span *ngIf="authenticationService.userInfo | async as userInfo" class="comment-as">Comment as <a href="#">{{ userInfo.username }}</a></span>

          <div class="editor">
            <ckeditor #editor [editor]="editorClass" (ready)="onReady($event)" (change)="onChange()"></ckeditor>
          </div>

          <button #comment_btn (click)="comment()" class="comment-btn btn btn-primary" disabled>Comment</button>
        </div>

      </div>
    </div>

    <div class="bottom">
      <app-comment-sorter [commentList]="comment_list"></app-comment-sorter>
      <app-comment-list #comment_list [comments]="commentService.comments" id="comments"></app-comment-list>
    </div>

  </div>
</div>
