.post {
  display: block;
  width: 650px;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: border-color 0.1s;

  cursor: pointer;
  overflow: hidden;

  margin-top: 15px;

  &:hover {
    border-color: black;
  }
}

.left {
  background-color: #f7f9fa;
  width: 50px;

  padding: 10px;
  padding-top: 0;

  .fa-caret-up, .fa-caret-down {
    font-size: 2em;
    color: #878a8c;
  }

  .fa-caret-up {
    margin-bottom: -5px;
  }

  .fa-caret-down{
    margin-top: -5px;
  }

  .points {
    font-size: 0.8em;
    font-weight: bold;
  }
}

.right {
  background-color: white;
  padding: 10px;

  .origin {
    margin-bottom: 10px;

    .subjeddit-logo {
      $scale: 20px;

      width: $scale;
      height: $scale;
      background-color: rgb(0, 121, 211);
      border: 1px solid black;
      border-radius: 100%;

      margin-right: 5px;
    }

    .subjeddit-name {
      font-size: 0.8em;
      font-weight: bold;
    }

    .posted-by {
      font-size: 0.8em;
      color: gray;

      margin-left: 10px;
    }
  }

  .title {
    font-size: 1.2em;
    font-weight: bold;
  }

  .interactions {
    margin-top: 10px;

    button {
      color: rgb(135, 138, 140);
      font-size: 0.8em;
      font-weight: bold;
      padding: 2px;

      padding-left: 5px;
      padding-right: 5px;
      margin-right: 5px;
      //height: 25px;
    }

    [class*="fa fa-"] {
      margin-right: 5px;
    }
  }
}
