<nav class="navbar navbar-expand-md">
  <a (click)="home()" class="navbar-brand" id="logo">
    <img height="30px" src="../../../assets/img/jeddit-logo.svg">
  </a>

  <div ngbDropdown class="d-inline-block">

    <button ngbDropdownToggle class="btn" id="subjeddit-toggle">
      <div [ngSwitch]="location.pathname">
        <div *ngSwitchCase="'/'"><i class="fas fa-home"></i>Home</div>
        <div *ngSwitchCase="'/popular'"><i class="fas fa-fire"></i>Popular</div>
        <div *ngSwitchCase="'/all'"><i class="fas fa-globe"></i>All</div>
        <div *ngSwitchCase="'/all'">Unknown location</div>
      </div>
    </button>

    <div ngbDropdownMenu aria-labelledby="subjeddit-dropdown" class="options">

      <div class="dropdown-header">Jeddit Feeds</div>
      <button routerLink="/" class="dropdown-item"><i class="fas fa-home"></i>Home</button>
      <button class="dropdown-item"><i class="fas fa-fire"></i>Popular</button>
      <button class="dropdown-item"><i class="fas fa-globe"></i>All</button>

      <div class="dropdown-divider"></div>

      <div class="dropdown-header">Subscriptions</div>
      <button class="dropdown-item" routerLink="/r/{{ subjeddit.name }}"
        *ngFor="let subjeddit of subjeddits | async">r/{{ subjeddit.name }}</button>

      <div class="dropdown-divider"></div>

      <div class="dropdown-header">Other</div>
      <button class="dropdown-item"><i class="fas fa-cog"></i>User Settings</button>
      <button class="dropdown-item"><i class="fas fa-pen"></i>Create Post</button>

    </div>
  </div>

  <input type="text" id="search-bar" class="form-control" placeholder="Search Jeddit">

  <div ngbDropdown class="d-inline-block">

    <button *ngIf="authenticationService.userInfo | async as userInfo" ngbDropdownToggle class="btn" id="profile-toggle">
      <i class="fas fa-user"></i>{{ userInfo.first_name }} {{userInfo.last_name}}

    </button>

    <div ngbDropdownMenu aria-labelledby="subjeddit-dropdown" class="options">

      <div class="dropdown-header">My Stuff</div>
      <button class="dropdown-item"><i class="fas fa-user-circle"></i>My profile</button>
      <button class="dropdown-item"><i class="fas fa-cog"></i>User Settings</button>
      <button (click)="logOut()" class="dropdown-item"><i class="fas fa-sign-out-alt"></i>Log Out</button>

    </div>
  </div>



</nav>
