$upvote-color: #ff4500;
$downvote-color: #7193ff;

.root {
  display: flex;
  flex-direction: row;

  .left, .right {
    display: flex;
    flex-direction: column;
  }

  .left {
    align-items: center;
    padding: 5px;

    .fa-arrow-down{
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .upvote-btn, .downvote-btn {
      cursor: pointer;
      color: #878a8c;
    }

    .upvote-btn.active {
      color: $upvote-color;
    }

    .downvote-btn.active {
      color: $downvote-color;
    }

    .line-container {
      display: flex;
      justify-content: center;

      cursor: pointer;
      width: 20px;
      height: 100%;

      .line {
        width: 2px;
        height: 100%;

        background-color: rgb(237, 239, 241);
      }

      &:hover .line {
        background-color: gray;
      }
    }

    .expand-container {
      cursor: pointer;
      font-size: 0.75em;
    }
  }

  .right {
    padding: 0 5px;

    .info {
      font-size: 0.75em;

      $theme-color: rgb(97, 163, 27);

      .username {
        color: $theme-color
      }
      .op {
        font-size: 1.1em;
        font-weight: bold;
      }
      .op-icon {
        display: inline;
        margin-left: 5px;
        color: $theme-color;
      }

      .points {
        margin-left: 10px;
      }

      .points, .time {
        color: rgb(124, 124, 124);
      }
    }

    .text {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .actions > * {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      margin-right: 10px;

      font-size: 0.8em;
      font-weight: bold;
      color: rgb(135, 138, 140);

      .fa-comment-alt {
        margin-right: 5px;
      }
    }

    .comment-list {
      margin-top: 15px;
      margin-left: -10px;
    }
  }
}

// comment text - last element
:host ::ng-deep .text *:last-child {
  margin-bottom: 0;
}
