<div class="root" *ngIf="collapsed">

  <div class="left">
    <div class="expand-container" (click)="collapsed = false"><i class="fas fa-plus-circle"></i></div>
  </div>

  <div class="right">

    <div class="info">
      <span class="username">{{ comment.user.username }}</span>
      <span class="points"> | {{ comment.points }} points</span>
      <span class="time"> | {{ comment.time }} days ago</span>
    </div>

  </div>
</div>


<div class="root" *ngIf="!collapsed">
  <div class="left">

    <div class="upvote-btn"
         [class.active]="this.comment.vote === 'UPVOTE'"(click)="upvote(); $event.stopPropagation();"><i class="fas fa-arrow-up"></i></div>

    <div class="downvote-btn"
         [class.active]="this.comment.vote === 'DOWNVOTE'" (click)="downvote(); $event.stopPropagation();"><i class="fas fa-arrow-down"></i></div>

    <div class="line-container" (click)="collapsed = true">
      <div class="line"></div>
    </div>

  </div>

  <div class="right">

    <div class="info">
      <span class="username">{{ comment.user.username }}</span>
      <span class="points"> | {{ comment.points }} points</span>
      <span class="time"> | {{ comment.created_at }} days ago</span>
    </div>

    <div class="text" [innerHTML]="comment.text"></div>

    <div class="actions">
      <span (click)="toggleReply = !toggleReply"><i class="fas fa-comment-alt"></i>Reply</span>
      <span>Share</span>
      <span>Report</span>
      <span>Save</span>
      <span>Give gold</span>
    </div>

    <app-reply-editor [comment]="comment" (close)="toggleReply = false" *ngIf="toggleReply"></app-reply-editor>

    <app-comment-list class="comment-list" *ngIf="comment.replies.length > 0" [comments]="comment.replies"></app-comment-list>
  </div>
</div>
