<div class="root" (click)="goBack($event)">
  <div class="bg"></div>

  <div *ngIf="userFeedService.selectedPost" class="content">
    <div class="top  d-flex flex-row justify-content-center">

      <div class="top-left  d-flex flex-row">
        <hr>
        <i class="fas fa-arrow-up"></i>
        <div class="points">{{ userFeedService.selectedPost.points }}</div>
        <i class="fas fa-arrow-down"></i>
        <hr>
        <span class="top-title">{{ userFeedService.selectedPost.title }}</span>
      </div>

      <div class="top-right  d-flex flex-row">
        <button ngbButton (click)="goBack($event)" class="close-btn btn btn-outline-dark"><i class="fas fa-times"></i>Close</button>
      </div>

    </div>

    <div class="bottom d-flex justify-content-center">
      <app-article class="article"></app-article>
      <div class="cards">
        <app-about [subjedditName]="userFeedService.selectedPost.subjeddit.name"></app-about>
        <!--<app-rules></app-rules>-->
      </div>
    </div>
  </div>
</div>
