.sort-by-label {
  display: inline-block;

  font-variant: all-small-caps;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 20px;
}

.dropdown-toggle {
  font-variant: all-small-caps;
  font-weight: bold;

  * {
    display: inline;
  }

  &:after {
    margin-left: 10px;
  }
}

.dropdown-menu {
  min-width: 100px;
}
