<div>
  <div class="bg"></div>

  <div class="header">
    <div *ngIf="subjeddit" class="wrapper1">
      <img class="logo" src="/assets/img/terraria-subjeddit-logo.png">
      <span class="name">r/{{ subjeddit.name }}</span>
    </div>
  </div>

  <div class="my-navbar">
    <div class="wrapper2">
      <a class="navbar-item">Posts</a>
    </div>
  </div>

  <app-post *ngIf="this.postService.selectedPost"></app-post>

  <div class="toolbar d-flex justify-content-center">
    <div class="wrapper3">
      <app-post-list-sorter #post_sorter></app-post-list-sorter>
    </div>
  </div>

  <div class="content d-flex flex-row justify-content-center">
    <app-post-list #post_list [posts]="posts" [showSubjeddit]="false"
    infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="onScroll()"></app-post-list>
    <div class="cards">
      <app-about *ngIf="subjeddit" [subjedditName]="subjeddit.name"></app-about>
    </div>
  </div>
</div>
